@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.nav {
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 10px 10px #E7E5E5;
}

.ulNav {
    width: 60%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.liNav {
    position: relative;
}

.liNav::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #E7E5E5;
    visibility: hidden;
    transform: translateX(-10px);
    transition: transform .3s;
}

.liNav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.liNav a:hover {
    color: #E7E5E5;
}

.liNav:hover:after {
    transform: translateX(0px);
    visibility: visible;
}


/*VISTA*/

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divContenedorCarta {
    width: 95%;
    margin-top: 10px;
    display: flex;
    box-shadow: 0px 0px 15px #A1A3CF;
}

.divCartaIzquierda {
    width: 50%;
    padding: 10px;
}

.carruselCartaIzquierda {
    width: 100%;
    height: 650px;
}

.divCartaDerecha {
    width: 50%;
    padding: 10px;
}

.divCartaDerecha img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.divdetallescartaizquierda {
    padding: 10px;
}

.divdetallescartaizquierda p {
    margin-top: 20px;
}

.divCarrusel {
    width: 100%;
    height: 650px;
    border-radius: 10px;
}

.btnRound {
    border-radius: 10px;
}

.imgSlider {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.divTitleAndOptions {
    display: flex;
}

.btnDelete {
    padding: 5px;
    background-color: white;
    border: 1px solid red;
    color: red;
    border-radius: 5px;
}

.btnDelete:hover {
    color: white;
    background-color: red;
}

.btnEdit {
    padding: 5px;
    background-color: white;
    border: 1px solid #66a3ff;
    color: #66a3ff;
    border-radius: 5px;
    text-decoration: none;
}

.btnEdit:hover {
    color: white;
    background-color: #66a3ff;
}

.divtitleizq {
    width: 70%;
}

.divtitleDer {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}